@model Vidly.ViewModels.RandomMovieViewModel
@{
    // ^^^^ this is how you get the models in the main page ^^^^

    ViewBag.Title = "Random";   // the title of the page in the browser
    Layout = "~/Views/Shared/_Layout.cshtml";
    

}

<h2>@Model.Movie.Name</h2>
@Model.Customers

